apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: "http://{{ monitoring_prometheus_listen_address }}:{{ monitoring_prometheus_port }}"
    isDefault: true
