apiVersion: 1

providers:
  - name: "eth-validator"
    orgId: 1
    folder: "Ethereum"
    type: file
    disableDeletion: false
    updateIntervalSeconds: 60
    options:
      path: /var/lib/grafana/dashboards
