ARGS="--config.file=/etc/prometheus/prometheus.yml --storage.tsdb.path=/var/lib/prometheus --storage.tsdb.retention.time={{ monitoring_prometheus_retention }} --web.console.libraries=/usr/share/prometheus/console_libraries --web.console.templates=/usr/share/prometheus/consoles --web.listen-address={{ monitoring_prometheus_listen_address }}:{{ monitoring_prometheus_port }}"
